In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time

In [3]:
#함수화 - 날짜 입력시 5개의 상위 검색결과 가져오기


def hawaii2(startday, endday) :
    
    url_start = "https://beta-flight.naver.com/flights/international/ICN-HNL-" 
    date1 = "2021" +str(startday) 
    url_middle = "/HNL-ICN-"
    date2 = "2021" + str(endday) 
    url_last = "?adult=1&fareType=Y"
    url = url_start+date1+url_middle+date2+url_last

    driver = webdriver.Chrome('./chromedriver')
    driver.get(url)

    time.sleep(20)
    #데이터 불러오는 시간
    #implicitly_wait 사용?

    price_xpath = '//*[@id="__next"]/div/div[1]/div[4]/div/div[3]/div/div/div[2]/div/div/div/b/i'
    go_xpath = '//*[@id="__next"]/div/div[1]/div[4]/div/div[3]/div/div/div[1]/div/div[2]/div[1]/i'
    back_xpath = '//*[@id="__next"]/div/div[1]/div[4]/div/div[3]/div/div/div[1]/div/div[2]/div[2]/i'

    sel_price = driver.find_elements_by_xpath(price_xpath)
    go_times = driver.find_elements_by_xpath(go_xpath)
    back_times = driver.find_elements_by_xpath(back_xpath)


    #print(len(sel_price))
    #print(len(GMP_depart_times))
    #print(len(HNL_arrive_times))
    
    day_rank5 = []
    for i in range(5) :
        key = []
        key.append(go_times[i].text[6:])
        key.append(back_times[i].text[6:])
        key.append(sel_price[i].text)
        #print(key)
        day_rank5.append(key)
    return day_rank5

In [3]:
# 12월 5일 출발 -> 12월 10검색 예시
#a = hawaii2(1205,1210)



#all_dict = {}

#import pandas as pd
#dat = pd.DataFrame(all_dict)
#dat.to_csv("practice1.csv", index=False)
#gasungbee = []
#for i in range(5) :
#    hour = int(a[i][0][0:2])+int(a[i][1][0:2])
#    minute = int(a[i][0][5:7])+int(a[i][1][5:7])
#    total_time = hour*60 + minute
#    price_str = a[i][2]
#    total_price = int(price_str[0:3])*1000 + int(price_str[4:])
    
#    ratio = total_price / total_times
#    gasungbee.append(ratio)

    
#print(gasungbee)

In [4]:
# 상위 5개의 결과의 가성비(비행시간/비용) 돌려주는 함수
def find_gasungbee(date1,date2) :
    a = hawaii2(date1,date2)
    gasungbee = []
    for i in range(5) :
        hour = int(a[i][0][0:2])+int(a[i][1][0:2])
        minute = int(a[i][0][5:7])+int(a[i][1][5:7])
        total_time = hour*60 + minute
        price_str = a[i][2]
        total_price = int(price_str[0:3])*1000 + int(price_str[4:])
    
        ratio = total_price / total_time
        gasungbee.append(ratio)
        
    return gasungbee

In [11]:
# 파일 생성
import pandas as pd

#dict_dat = {"1205출발,1210도착" : find_gasungbee(1205,1210),
#           "1205출발,1211도착" : find_gasungbee(1205,1211),
#           "1205출발,1212도착" : find_gasungbee(1205,1212),}
dict_dat = {}
dict_dat["1205출발,1210도착"] =find_gasungbee(1205,1210)
dict_dat["1205출발,1211도착"] =find_gasungbee(1205,1211)

dat = pd.DataFrame(dict_dat)

In [12]:
dat

   1205출발,1210도착  1205출발,1211도착
0     462.216216     462.216216
1     490.277778     490.277778
2     410.185185     410.185185
3     325.792350     403.747178
4     375.334448     252.371597

In [13]:
dat.to_csv("flight01.csv", index=False)

In [15]:
dat.to_excel("flight01.xlsx", index = False)